@charset "UTF-8";

*{margin:0;}
body{
    width:1800px;
    height: 1000px;
    margin:0 auto;
}

@font-face{
    font-family: 'BMHANNAAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header{
	height:100px;

}

.header>div{
    line-height: 100px;
}

.imgBox>a>img{
    width:83%;
    height: 80px;
    margin-left: 30%;
}
.searchBox{
    padding-top: 20px;
}
.searchBox>input{
	width:200px;
	height:40px;
}
.searchBox>*{
	float:left;
}
#searchInput{
	position:relative;
	margin-top:10px;
	height:40px;
	right:90px;
	font-size: smaller;
}
#searchBtn{
	position:relative;
	right:90px;
	height:40px;
	width:70px;
	margin-bottom:45px;
}
.header>div>svg{
    cursor: pointer;
    text-align:right;
    color:gray;
}
.accountBox{
   position: relative;
	left:0px;
}
#accountInfoBox{
   background-color: white;
   position: absolute;
   width:200px;
   right: 0px;
   top:100px;
   z-index: 2;
   padding-left:0;
   padding-right:0;
   font-family: 'BMHANNAAir';
   font-size:large;
}
#accountInfoBox>div{
margin:0;
	width:100%;
   height: 60px;
   border: 1px solid gray;
   cursor:pointer;
}
#toMessage{
	position:relative;
	left:70px;
}
.alarm{
	position:relative;
	left:147px;
	width:50px;
}
#noAlarmBtn{
	margin-top:0px;
}
#alarmBtn{
	position:relateive;
	display:none;
	top:32px;
}
#alarmBtn:after{
	position:relateive;
	top:32px;
}

#alarmContentBox{
	position:absolute;
	display:none;
	width:380px;
	height:260px;
	background-color: white;
	z-index: 2;
	top:100px;
	left:1090px;
	border:1px solid black;
	overflow: auto;
	}
#alarmContent{
	width:100%;
	height:100%;
}
#alarmContent>div{
	height:100px;
}
.deleteAll{
	width:100px;
	height:50px;
}
.bell{
	color:gray;
}
#cart{
	position:relative;
	left:250px;
}
#toOffline{
	position:relative;
	left:300px;
}
#toOnline{
	position:relative;
	left:330px;
}
#toLogin{
	position:relative;
	right:110px;
}
.textList1{
	padding-left:60px;
}
.textList2{
	padding-left:65px
}

#accountInfoBox>div:hover{
   background-color: black;
   color:white;
}
.categoryBox{
   height: 50px;
   border-top: 1px solid black;
   font-weight: 600;
   font-family: 'BMHANNAAir';
   font-size: large;
   
}
.category_big>div{
   height: 50px;
   width:100%;
   text-align: center;
   padding-top: 13px;
   cursor:pointer;
  

}

.category_small{
   background-color:white;
   position: absolute;
   width:1777px;
   font-weight:300;
   height:auto;
   z-index:1;
   text-align: center;
   top:150px;
   border-top:double;
   font-family: 'BMHANNAAir';
    font-size:medium;

}
.category_small>div>ul>li{
   height: 40px;
   padding-top:5px;
   list-style: none;
   padding-right: 30px;
   cursor: pointer;
   transition:all .3s ease;
    
}
.category_small>div>ul>li:hover{
  color:#00ADEE; transition:all .3s ease 
}
li > span { position:relative }
li > span::after {
  content: '';
  width: 0%;
  left: 50%;
  height: 1px;
  display: block;
  position: absolute;
  margin-top: 3px;
  border-bottom: 2px solid #00ADEE;
  transition:all .3s ease;
}
li:hover > span::after {
  content: '';
  width: 100%;
  left: 0px;
  height: 1px;
  display: block;
  position: absolute;
  margin-top: 3px;
  border-bottom: 2px solid #00ADEE;
  transition:all .3s ease;
}
.adminBox{
    padding-top: 40px;
    text-align:center;
}


#replyNew{
	padding-top : 10px;
	background-color: red;
	text-align: center;
	width:60px;
	height:20px;
    word-break : break-all;
    line-height: 0px;
    margin-bottom:15px;
    margin-top : 8px;
}
#newAlarm{
	border-top : 1px dotted black;
}
#newAlarm>div{
	height : 58px;
	border-bottom : 1px dotted black;
}
#newAlarm span {
	padding-bottom:10px;
}

#newAlarm div{
	line-height:0px;
}

#alarmContent>div{
	padding-top : 8px;
	line-height:8px;
	height : 60px;
	border-bottom:1px dotted black;
}
a{
	margin-right : 10px;
	margin-left : 10px;
}
.deleteBtnDiv{
	line-height : 0px;
	margin-bottom : 7px;
	margin-left : 7px;
	margin-top : 7px;
}

