@charset "UTF-8";



/* 우측 회원 활동 부분*/
.activityBox div {
    margin-bottom: 20px;
    height: 200px;
}

#banner {
    border: 1px solid black;
    overflow: auto;
    text-align: center;
}
#banner img {
    width: 80%;
    height: 100%;
}
#recentClass {
    border: 1px solid black;
}
#likedPost {
    border: 1px solid black;
}
#paymentLog {
    border: 1px solid black;
}