@charset "UTF-8";

.header_mp {
    font-size: 30pt;
    margin: 20px 0px 50px 0px;
    height: 100px;
    text-align: center;
}

.expert_box div {
    text-align: right;
    font-size: 20pt;
    margin-left: 1px;
}
.expert_box div p{
    float: center;
}
.activity_box {
    border: 1px black solid;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
}
#toProfileBtn {
	height: 112px;
}
.box_mp {
    border: 3px solid grey;
    border-radius: 10px;
}
.menu_mp {
    margin-bottom: 60px;
    text-align: center;
}

.menu_mp img {
    display: block;
    padding: 20px;
    margin: 0 auto;
    width: 200px;
}
.menu_mp span {
    font-weight: bold;
    font-size: 20pt;
}
a {
	color: black;
	text-decoration: none;
}