*{margin:0;}
body{
    width:1800px;
    height: 1000px;
    margin:0 auto;
}

.slidePhoto{
   width:100%;
   height: 700px;
}
/*캐러샐 화살표영역(메뉴바 영역에 걸려서 선택이 안될시 조정할것)*/
.iconBox{
   margin-top: 200px;
}
.iconPosition{
   margin-bottom: 250px;
}

.main{
   width: 100%;
   height: auto;
}
.titleBox{
	margin-bottom:0;
}
.mainTitle{
	background-color:#f0f2ed;
	margin-left:12px;
	margin-top:20px;
	border-top-right-radius: 10px;
}
.class{
   height: 500px;
   width:100%;
}

.mediaBox{
	height:90%;
	width:100%;
	 float:left;
	 margin:auto;
	 background-color:#f0f2ed;
}
.mediaBox>div{
	height:90%;
	width:25%;
	border:1px solid black;
	border-radius:10px;
	margin:10px;
	background-color:white;
	padding-right:0;
	padding-left:0;
	
}
.mediaPhoto{
   height: 75%;
   width:100%;
   border-radius:10px;
   margin-right:0;
   margin-left:0;
}
.photo{
	width:100%;
	height:100%;
	padding-left:0;
	padding-right:0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	filter: brightness(70%);
}
.photo:hover{
  filter: brightness(100%);
}
.mediaText{
	display:table;
   height: 25%;
   width:100%;
   padding-left:10px;
   text-decoration-line: none;
   text-align:center;
   vertical-align: middle;
}
.mediaText>span{
	display:table-cell;
	font-size: x-large;
	vertical-align: middle;
}
a{
	text-decoration-line: none;
	color:black;
}
.itemBox{
height: 450px;
background-color: rgb(241, 234, 234);
}
.itemBox>div>div{
   float: left;
   border:1px solid black;
   height: 350px;
   margin: 10px;
}
