*{margin:0;}
body{
    width:1800px;
    height: 1000px;
    margin:0 auto;
}

.slidePhoto{
   width:100%;
   height: 700px;
}
/*캐러샐 화살표영역(메뉴바 영역에 걸려서 선택이 안될시 조정할것)*/
.iconBox{
   margin-top: 200px;
}
.iconPosition{
   margin-bottom: 250px;
}

.main{
   width: 100%;
   height: auto;
}
.class{
   height: 500px;
   border: 1px solid red;
}
.class>div>div{
   float: left;
   border:1px solid blue;
   height: 450px;
   margin: 10px;
}
.mediaPhoto{
   height: 70%;
   border: 1px solid black;
}
.mediaText{
   height: 30%;
}
.itemBox{
height: 450px;
background-color: rgb(241, 234, 234);
}
.itemBox>div>div{
   float: left;
   border:1px solid black;
   height: 350px;
   margin: 10px;
}