*{margin:0;}
body{
    width:1800px;
    height: 1000px;
    margin:0 auto;
    font-family: 'BMHANNAAir';
}
@font-face {
            font-family: 'BMHANNAAir';
            src:
                url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

.caroBox{margin-left:0px; margin-right:0px; padding-left:0px; padding-right:0px;}
#carouselExampleIndicators{
	margin:0 auto;
	width:1800px;
}
.slidePhoto{
   width:100%;
   height: 700px;
}
/*캐러샐 화살표영역(메뉴바 영역에 걸려서 선택이 안될시 조정할것)*/
.iconBox{
   margin-top: 200px;
}
.iconPosition{
   margin-bottom: 250px;
}

.main{
   width: 1800px;
   height: auto;
   margin:auto;
}
.titleBox{
	padding-top:20px;
	margin-bottom:5px;
}
.mainTitle{
	padding-left:30px;
	font-size:xx-large;

}
.mainTitle>label{
	float:left;
}
.plus{
	position:relative;
	right:190px;
	top:12px;
	width:42px;
	height:20px;
	color:white;
}
#hot{
	background-color: red;
	text-align: center;
}
#new{
	background-color: #ff7f00;
	text-align: center;
}
#view{
	background-color: #00ADEE;
	text-align:center;
	margin-left:80px;
	width:45px;
}
#tolistLike, #tolistRecent, #tolistView{
	color:gray;
	cursor:pointer;
}
.class{
   height: 500px;
   width:1800px;
}

.mediaBox{
	height:90%;
	width:100%;
	 float:left;
	 margin:auto;
}
.mediaBox>div{
	height:90%;
	width:25%;
	margin:10px;
	background-color:white;
	padding-right:0;
	padding-left:0;
	
}
.mediaPhoto{
   height: 75%;
   width:100%;
   margin-right:0;
   margin-left:0;
   overflow: hidden;
}
.photo{
	width:100%;
	height:100%;
	padding-left:0;
	padding-right:0;
	transform:scale(1.0);    
    transition: transform .5s; 
}
.photo:hover{
   transform:scale(1.1);            /* 이미지 확대 */
   transition: transform .5s; 	/*  시간 설정  */
}
.mediaText{
   display:table;
   height: 25%;
   width:100%;
   padding-left:10px;
   text-decoration-line: none;
   text-align:left;
   vertical-align: middle;
}
.mediaText>span{
	display:table-cell;
	font-size: large;
	height:50px;
}
.titleBox{
	height:70px;
	padding-top:5px;
	font-family: 'BMHANNAAir';
	font-size:large
}
.seeBox{
	height:30px;
	text-align: left;
	color:gray;
}
a{
	text-decoration-line: none;
	color:black;
	margin-left:0;
	margin-right:0;
}
.itemBox{
height: 450px;
background-color: rgb(241, 234, 234);
}
.itemBox>div>div{
   float: left;
   border:1px solid black;
   height: 350px;
   margin: 10px;
}

#likePart, #adminPart{
	background-color: #6DCEF520;
}

.footer{
	height:100px;
	width:1820px;
	background-color:#00ADEE20;
	font-family: 'BMHANNAAir';
	font-size:large
}
.footer>div{
	padding-top:20px;
	height:70px;
	text-align:center;
}
