<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminMemberMapper">
	
	<!-- 회원 수 가져오기 -->
	<select id="getMemberCount" resultType="int">
		SELECT COUNT(*)
		FROM (SELECT *
			  FROM tbl_member m
			  <trim prefix="WHERE" prefixOverrides="AND">
				  <if test ="searchOption != null">
			    	  ${searchOption} LIKE '%'||#{searchKeyword}||'%'
			      </if>
			      <choose>
			    	  <when test="userType == 0">
			    		  AND type = 0
			    	  </when>
			    	  <when test="userType == 1">
			    		  AND type = 1
			    	  </when>
			    	  <when test="userType == 2">
			    		  AND type = 2
			    	  </when>
			      </choose>
			  </trim>
			 )
	</select>
	
	<!-- 회원 목록 가져오기 -->
	<select id="getMemberList" parameterType="map" resultType="memberDTO">
		SELECT * 
		FROM (SELECT 
				  row_number() OVER (ORDER BY signup_date DESC) AS idx, 
				  m.* 
			  FROM tbl_member m
			  <trim prefix="WHERE" prefixOverrides="AND">
				  <if test ="searchOption != null">
			    	  ${searchOption} LIKE '%'||#{searchKeyword}||'%'
			      </if>
			      <choose>
			    	  <when test="userType == 0">
			    		  AND type = 0
			    	  </when>
			    	  <when test="userType == 1">
			    		  AND type = 1
			    	  </when>
			    	  <when test="userType == 2">
			    		  AND type = 2
			    	  </when>
			      </choose>
			  </trim>
			 ) 
	    WHERE idx BETWEEN #{startRange} AND #{endRange}
	</select>
	
	<!-- 회원 강제 탈퇴-->
	<update id="memberExpulsion" parameterType="map">
		DELETE FROM tbl_member 
		WHERE user_id IN
		<foreach collection="userCheckBox" item="user_id" open="(" close=")" separator=",">
			#{user_id}
		</foreach>
	</update>
	
	<!-- 블랙리스트 ON / OFF -->
	<update id="memberBlackList" parameterType="map">
		UPDATE tbl_member SET
		<trim suffix="WHERE user_id IN">
			<choose>
				<when test="idx == 0">
					blacklist = 0
				</when>
				<otherwise>
					blacklist = 1
				</otherwise>
			</choose>
		</trim>
		<foreach collection="userCheckBox" item="user_id" open="(" close=")" separator=",">
			#{user_id}
		</foreach>
	</update>
	
	<!-- 피신고자 아이디 찾기 -->
	<select id="getUserId" parameterType="map" resultType="String">
		SELECT user_id FROM
		<choose>
			<when test="type == 1">
				tbl_post WHERE post_no = #{target_no} 
			</when>
			<when test="type == 2">
				tbl_comment WHERE comment_no = #{target_no}
			</when>
			<when test="type == 3">
				tbl_message WHERE message_no = #{target_no}
			</when>
		</choose>
	</select>
	
	<!-- 일별 가입자 수 -->
	<select id="getUserCount" resultType="map">
		SELECT to_char(signup_date, 'MM/DD') AS signup_date, COUNT(*) AS CNT 
		FROM (SELECT * FROM tbl_member WHERE signup_date >= '20200101' AND signup_date <![CDATA[<= '20220219')]]>
		GROUP BY to_char(signup_date, 'MM/DD') 
		ORDER BY signup_date
	</select>
	
	<!-- 오늘 가입자 -->
	<select id="getTodayCount" resultType="int">
		SELECT COUNT(*) FROM tbl_member
    	WHERE TO_CHAR(signup_date,'YYMMDD') = TO_CHAR(SYSDATE,'YYMMDD')
	</select>
	
	<!-- 접속자 정보 가져오기 -->
	<select id="getUserInfo" parameterType="map" resultType="memberDTO">
		SELECT user_id, user_nickname, address, profile_path FROM tbl_member WHERE user_id IN
		<foreach collection="_parameter.entrySet()" index="key" item="value" open="(" close=")" separator=",">
			#{key}
		</foreach>
	</select>
	
	<!-- 전문가 신청 리스트 가져오기 -->
	<select id="getExpertList" parameterType="map" resultType="memberDTO">
		SELECT *
		FROM (  SELECT 
		            row_number() OVER (ORDER BY expert_id) AS idx, 
		            m.*
		        FROM tbl_expert e
		            INNER JOIN tbl_member m ON(e.expert_id = m.user_id)
		        WHERE m.type != 2
		        <if test="searchKeyword != null">
					AND ${searchKeyword} LIKE '%'||#{searchKeyword}||'%'
				</if>
		        ORDER BY signup_date DESC  )
		WHERE idx BETWEEN ${startRange} AND ${endRange}
	</select>
	
	<!-- 전문가 신청 리스트 COUNT -->
	<select id="getExpertListCount" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM (  SELECT 
		            row_number() OVER (ORDER BY expert_id) AS idx, 
		            m.*
		        FROM tbl_expert e
		            INNER JOIN tbl_member m ON(e.expert_id = m.user_id)
		        WHERE m.type != 2
		        <if test="searchKeyword != null">
					AND ${searchKeyword} LIKE '%'||#{searchKeyword}||'%'
				</if>
		     )
	</select>
	
	<!-- 능력자 전환-->
	<update id="changeExpert" parameterType="map">
		UPDATE tbl_member SET type = 2
		WHERE user_id IN
		<foreach collection="userCheckBox" item="user_id" open="(" close=")" separator=",">
			#{user_id}
		</foreach>
	</update>
	
</mapper>