<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminOrderMapper">

	<!-- 주문 수 가져오기 -->
	<select id="getOrderCount" resultType="int">
		SELECT COUNT(*) FROM tbl_order
		<if test="searchKeyword != null and searchKeyword != ''">
			WHERE ${searchOption} LIKE '%'||#{searchKeyword}||'%'
		</if>
	</select>

	<!-- 주문 목록 가져오기 -->
	<select id="getOrderList" parameterType="map" resultType="map">
		SELECT order_no, order_time, to_char(cost, '999,999,999') "COST", status, user_id, address
		FROM (SELECT row_number() OVER (ORDER BY order_time DESC) AS idx, tbl_order.* FROM tbl_order)
   		WHERE idx BETWEEN #{startRange} AND #{endRange}
   		<if test="searchOption != null and searchKeyword != ''">
   			AND ${searchOption} LIKE '%'||#{searchKeyword}||'%'
   		</if>
	</select>
	
	<!-- 구매 상품 목록 가져오기 -->
	<select id="getProductList" resultType="map">
		SELECT * FROM tbl_product
   		INNER JOIN test_tbl_order_product USING(product_no) WHERE order_no = #{order_no}
	</select>
	
	<!-- 주문 상태 확인 -->
	<select id="checkOrder" resultType="String">
		SELECT status FROM tbl_order WHERE order_no = #{payment_no}
	</select>
	
	<!-- 주문 상태 변경 -->
	<update id="updateStatus">
		UPDATE tbl_order SET status = 'cancled' WHERE order_no = #{order_no}
	</update>
	
	<!-- 주문 상세 정보 -->
	<select id="getOrderDetail" resultType="map">
		SELECT 
		    o.name, o.phone, o.email, o.message, o.address,
		    pay.payment_no, to_char(pay.cost, '999,999,999') "COST", pay.payment_time, pay.method, pay.card_name,
		    op.quantity,
		    p.name "PRODUCT_NAME", to_char(p.price, '999,999,999') "PRICE", p.content, p.image_path
		FROM tbl_order o
		    INNER JOIN tbl_payment pay ON(o.order_no = pay.payment_no)
		    INNER JOIN tbl_orderproduct op ON(o.order_no = op.order_no)
		    INNER JOIN tbl_product p ON(op.product_no = p.product_no)
	    WHERE o.order_no = #{order_no}
	</select>
	
	<!-- 배송지 변경 -->
	<update id="changeAddress" parameterType="map">
		UPDATE tbl_order SET address = #{address} WHERE order_no = #{order_no}
	</update>

</mapper>