<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminPostMapper">

	<!-- 게시글 수 가져오기 -->
	<select id="getPostCount" resultType="int">
		SELECT COUNT(*) FROM tbl_post
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="searchKeyword != null and searchKeyword != ''">
				${searchOption} LIKE '%'||#{searchKeyword}||'%'
			</if>
			<if test="type != null">
				AND type = ${type}
			</if>
		</trim>
	</select>

	<!-- 게시글 목록 가져오기 -->
	<select id="getPostList" parameterType="map" resultType="map">
		SELECT * 
		FROM (SELECT 
				  row_number() OVER (ORDER BY written_Date DESC) AS idx, 
				  p.* 
			  FROM tbl_post p
			  	  LEFT OUTER JOIN (SELECT post_no, COUNT(*) "COUNT" 
   							 	   FROM tbl_like 
   							 	   GROUP BY post_no) l
   				  ON(p.post_no = l.post_no)
   			  <trim prefix="WHERE" prefixOverrides="AND">
		  		  <if test="searchKeyword != null">
	   			  	  ${searchOption} LIKE '%'||#{searchKeyword}||'%'
		   		  </if>
		   		  <if test="type != null">
		   			  AND type = #{type}
		   		  </if>
   			  </trim>
			  ) 
   		WHERE idx BETWEEN #{startRange} AND #{endRange}
	
		<!-- SELECT * 
		FROM (SELECT row_number() OVER (ORDER BY written_Date DESC) AS idx, tbl_post.* 
			  FROM tbl_post) 
   			LEFT OUTER JOIN (SELECT post_no, COUNT(*) "COUNT" 
   							 FROM tbl_like GROUP BY post_no) USING(post_no)
   		WHERE idx BETWEEN #{startRange} AND #{endRange}
   		<if test="searchKeyword != null and searchKeyword != ''">
   			AND ${searchOption} LIKE '%'||#{searchKeyword}||'%'
   		</if>
   		<if test="type != null">
   			AND type = #{type}
   		</if> -->
	</select>
	
	<!-- 글 삭제 -->
	<update id="deletePost" parameterType="map">
		DELETE FROM tbl_post
			WHERE post_no IN
		<foreach collection="postCheckBox" item="post_no" open="(" close=")" separator=",">
			#{post_no}
		</foreach>
	</update>
	
	<!-- 조회수 +1 증가 -->
	<update id="addViewCount">
		UPDATE tbl_post SET view_count = view_count + 1 WHERE post_no = #{post_no}
	</update>

</mapper>