<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminMemberMapper">
	
	<!-- 총 회원 수 가져오기 -->
	<select id="getMemberCountAll" resultType="int">
		SELECT COUNT(*) FROM tbl_member
	</select>
	
	<!-- 검색 한 회원 수 가져오기 -->
	<select id="getSearchCount" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM tbl_member 
			WHERE ${searchOption} LIKE '%'||#{searchKeyword}||'%'
	</select>
	
	<!-- 회원 목록 가져오기 -->
	<select id="getMemberList" parameterType="map" resultType="memberDTO">
		SELECT * FROM (SELECT row_number() OVER (ORDER BY signup_date DESC) AS idx, tbl_member.* FROM tbl_member) 
		    WHERE idx BETWEEN #{startRange} AND #{endRange}
		    <if test ="searchOption != null">
		    	AND ${searchOption} LIKE '%'||#{searchKeyword}||'%'
		    </if>
	</select>
	
	<!-- 회원 강제 탈퇴-->
	<update id="memberExpulsion" parameterType="map">
		DELETE FROM tbl_member 
			WHERE user_id IN
		<foreach collection="userCheckBox" item="user_id" open="(" close=")" separator=",">
			#{user_id}
		</foreach>
	</update>
	
	<!-- 블랙리스트 ON / OFF -->
	<update id="memberBlackList" parameterType="map">
		UPDATE tbl_member SET
		<if test ="idx == 0">
	    	blacklist = 0 
	    </if>
	    <if test ="idx == 1">
	    	blacklist = 1 
	    </if>
			WHERE user_id IN
		<foreach collection="userCheckBox" item="user_id" open="(" close=")" separator=",">
			#{user_id}
		</foreach>
	</update>
	
</mapper>