<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="commentMapper">
     <select id="getAllComments" resultType="CommentDTO" parameterType="map">
           SELECT * FROM TBL_COMMENT WHERE POST_NO=#{post_no} and PARENT_NO = 0 and type=#{type} ORDER BY WRITTEN_DATE DESC
     </select>
     
     <insert id="insertComment">
           INSERT INTO TBL_COMMENT VALUES (COMMENT_NO.NEXTVAL,#{type},0,0,#{user_nickname},#{content},SYSDATE,#{post_no},#{user_id})
     </insert>
     
     <delete id="deleteComment"> 
           DELETE FROM TBL_COMMENT WHERE COMMENT_NO=#{comment_no}
     </delete>
     
     <update id="modifyComment">
           UPDATE TBL_COMMENT SET CONTENT=#{content} WHERE COMMENT_NO = #{comment_no}
     </update>
     
     <select id="getAllReplies" resultType="ReplyDTO">
           SELECT E1.COMMENT_NO,E1.PARENT_NO,NVL(E2.USER_NICKNAME,' ') AS "REFERENCE_NICKNAME", E1.REFERENCE_NO, E1.USER_NICKNAME, E1.CONTENT,E1.WRITTEN_DATE, E1.USER_ID 
           FROM TBL_COMMENT E1 LEFT OUTER JOIN TBL_COMMENT E2
           ON(E1.REFERENCE_NO=E2.COMMENT_NO)
           WHERE E1.PARENT_NO = #{comment_no}
           ORDER BY E1.WRITTEN_DATE
     </select>
     
     <insert id="insertReply" parameterType="ReplyDTO">
           INSERT INTO TBL_COMMENT VALUES(COMMENT_NO.NEXTVAL,#{type},#{comment_no},0,#{user_nickname},#{content},SYSDATE,#{post_no},#{user_id})
     </insert>
     
     <delete id="deleteReply">
           DELETE FROM TBL_COMMENT WHERE COMMENT_NO = #{comment_no}
     </delete>
     
     <update id="deleteAllReferences">
           UPDATE TBL_COMMENT SET REFERENCE_NO=-1 WHERE REFERENCE_NO = #{comment_no}
     </update>
     
     <insert id="insertReply_reply" parameterType="ReplyDTO">
           INSERT INTO TBL_COMMENT VALUES (COMMENT_NO.NEXTVAL,#{type},#{parent_no},#{comment_no},#{user_nickname},#{content},SYSDATE,#{post_no},#{user_id})
     </insert>
     
     <select id="getReceiver" resultType="String">
			select user_nickname from tbl_comment where comment_no = #{comment_no}
	</select>
     
</mapper>