<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="expertcategoryMapper">

	 <select id="ExpertCategory" resultType="map" parameterType="Object">
    	select b.category_no, a.parent_group
		from tbl_category a inner join tbl_expert_category b on a.category_no = b.category_no 
		where b.expert_id=#{expert_id} group by b.category_no, a.parent_group
    </select>
	
	<!-- (마이페이지) 능력자 카테고리 번호 추가 -->
	<insert id="insertExpertCN" parameterType="expert_categoryDTO">
		insert into tbl_expert_category values (#{expert_id}, #{category_no})
	</insert>
	
	<!-- (마이페이지) 카테고리 번호 가져오기 -->
	<select id="noList" resultType="int">
		select category_no from tbl_expert_category where expert_id = #{expert_id} 
	</select>
</mapper>