<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="likeMapper">


<!-- type 1번:온라인게시글 2번:오프라인게시글 3번:상품게시글 4번:온라인게시글댓글 5:상품게시글댓글 -->
<!-- 게시글의 총 좋아요 카운트 -->
<select id="count" resultType="int">
		select count(*) 
			from tbl_like
				where type=#{type} and post_no = #{post_no}
</select>

<!-- 좋아요 추가 -->
<insert id="plus" parameterType="likeDTO">
	insert into tbl_like values(#{user_id},#{type},#{post_no},sysdate)
</insert>

<!-- 좋아요 삭제 -->
<delete id="minus">
	delete from tbl_like where user_id=#{user_id} and type=#{type} and post_no = #{post_no}
</delete>

<!-- 게시글에 유저가 좋아요 했는지 판별  -->
<select id="selectLike" parameterType="map" resultType="int">
	select count(*) from tbl_like where user_id=#{user_id} and type=#{type} and post_no = #{post_no}
</select>

<select id="getNN" parameterType="map" resultType="String">
	select a.user_nickname 
	from tbl_comment a inner join tbl_like b 
	on a.comment_no = b.post_no 
	where b.type=#{type} and b.post_no=#{post_no}
	group by a.user_nickname
</select>

<select id="getNNforPost" parameterType="map" resultType="String">
	select a.user_nickname 
	from tbl_post a inner join tbl_like b 
	on a.post_no = b.post_no 
	where b.type=#{type} and b.post_no=#{post_no}
	group by a.user_nickname
</select>
</mapper>