<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="likeMapper">

<!-- 게시글의 총 좋아요 카운트 -->
<select id="count" resultType="int">
		select count(*) 
			from tbl_like
				where post_no = #{post_no}
</select>

<!-- 좋아요 추가 -->
<insert id="plus" parameterType="likeDTO">
	insert into tbl_like values(#{user_id},#{post_no},sysdate)
</insert>

<!-- 좋아요 삭제 -->
<delete id="minus">
	delete from tbl_like where user_id=#{user_id} and post_no = #{post_no}
</delete>

<!-- 게시글에 유저가 좋아요 했는지 판별  -->
<select id="selectLike" parameterType="map" resultType="int">
	select count(*) from tbl_like where user_id=#{user_id} and post_no = #{post_no}
</select>

</mapper>