<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">
	<select id="idCheck" resultType="int">
		select count(*) 
			from tbl_member
				where user_id = #{id}
	</select>
	
	<insert id="insertMember"  parameterType="map">
		insert into tbl_member values
			(#{user_id}, #{password}
			, #{user_nickname}, #{phone}
			, #{email}, #{address}, sysdate
			, #{profile_path}, 1, 0)
	</insert>
	
	<select id="getMember" resultType="MemberDTO">
		select * from tbl_member
			where user_id = #{user_id}
	</select>
	
	<select id="isLoginOk" parameterType="map" resultType="int">
		select count(*) from tbl_member where user_id=#{id} and password=#{pw}
	</select>
	
	<select id="nicknameCheck" resultType="int">
		select count(*)
			from tbl_member
				where user_nickname = #{nickname}
	</select>
	
	<select id="emailCheck" resultType="int">
		select count(*) 
			from tbl_member
				where email = #{email}
	</select>
	
	<select id="idFind" resultType="String">
		select user_id
			from tbl_member
				where phone = #{phone}
	</select>
	
	<update id="pwFind" parameterType="map">
		update tbl_member set password = #{password} where user_id = #{user_id}
	</update>


<!-- ↑↑↑↑↑↑회원가입 및 로그인↑↑↑↑↑↑/////////↓↓↓↓↓↓마이페이지↓↓↓↓↓↓ -->
	


	<!-- (마이페이지) ID로 회원정보 DTO 불러오기 -->
	<select id="getDTOById" resultType="memberDTO">
		select * from tbl_member where user_id=#{user_id}
	</select>
	
	<!-- (마이페이지) 회원탈퇴 요청 -->
	<delete id="withdrawal">
		delete from tbl_member where user_id=#{user_id}
	</delete>
	
	<!-- (마이페이지) 회원정보 수정요청 -->
	<update id="modify" parameterType="MemberDTO">
		update tbl_member
			set user_nickname=#{user_nickname}, phone=#{phone}, email=#{email}, address=#{address}
		 	where user_id=#{user_id}
	</update>
	
	<!-- (마이페이지) 비밀번호 수정 요청 -->
	<update id="modifyPassword" parameterType="map">
		update tbl_member
			set password=#{password} where user_id=#{user_id}
	</update>
	
</mapper>