<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">
	<select id="idCheck" resultType="int">
		select count(*) 
			from tbl_member
				where user_id = #{id}
	</select>
	
	<insert id="insertMember" parameterType="MemberDTO">
		insert into tbl_member values
			(#{user_id}, #{password}
			, #{user_nickname}, #{phone}
			, #{email}, #{address}, sysdate
			, 0, 1, 0)
	</insert>
	
	<select id="getMember" resultType="MemberDTO">
		select * from tbl_member
			where user_id = #{user_id}
	</select>
	
	<select id="isLoginOk" parameterType="map" resultType="int">
		select count(*) from tbl_member where user_id=#{id} and password=#{pw}
	</select>
	
	<!-- (마이페이지) ID로 회원정보 DTO 불러오기 -->
	<select id="getDTOById" resultType="memberDTO">
		select * from tbl_member where user_id=#{user_id}
	</select>
	
	<!-- (마이페이지) 회원탈퇴 요청 -->
	<delete id="withdrawal">
		delete from tbl_member where user_id=#{user_id}
	</delete>
	
</mapper>