<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="offlinePostMapper">

	<select id="selectByCg" resultType="map" parameterType="PostDTO">
         select * from tbl_post p inner join tbl_category c using(category_no) where type=2 and c.parent_group = #{parent_group}
    </select>
</mapper>