<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="onlinePostMapper">
    <select id="getParentCategory" resultType="String">
         SELECT DISTINCT PARENT_GROUP FROM TBL_CATEGORY
    </select>
    
    <select id="getChildCategory" resultType="String">
         SELECT CHILD_GROUP FROM TBL_CATEGORY WHERE PARENT_GROUP = #{bigCategory}
    </select>
    
    <select id="searchProduct" resultType="ProductDTO">
         select * from tbl_product where name like "%#{value}%" or content like "%#{value}%"
    </select>
</mapper>