<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="onlinePostMapper">
    <select id="getParentCategory" resultType="String">
         SELECT DISTINCT PARENT_GROUP FROM TBL_CATEGORY
    </select>
    
    <select id="getChildCategory" resultType="CategoryDTO">
         SELECT * FROM TBL_CATEGORY WHERE PARENT_GROUP = #{bigCategory}
    </select>
    
    <!-- <select id="searchProduct" resultType="ProductDTO">
         select from tbl_product where name like '%'||#{value}||'%' or content like '%'||#{value}||'%'
    </select> -->
    
    <select id="searchProduct" resultType="ProductDTO">
         select * from tbl_product where name like '%'|| #{value} ||'%'
    </select>
    
    
    
    <insert id="insertPost" parameterType="PostDTO">
         INSERT INTO TBL_POST VALUES(#{post_no},1,'나중에 넣어주기',#{user_nickname},#{category_no},#{title},#{content},#{product_no},0,SYSDATE,'0')
    </insert>
    <select id="getPost_no" resultType="_int">
         SELECT POST_NO.NEXTVAL FROM DUAL
    </select>
    <select id="getPostInfo" resultType="PostDTO">
         SELECT * FROM TBL_POST WHERE POST_NO = #{post_no}
    </select>
</mapper>