<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="onlinePostMapper">
    

    <insert id="insertPost" parameterType="PostDTO">
         INSERT INTO TBL_POST VALUES(#{post_no},1,'나중에 넣어주기',#{user_nickname},#{category_no},#{title},#{content},#{product_no},0,SYSDATE,'0')
    </insert>
    <select id="getPost_no" resultType="_int">
         SELECT POST_NO.NEXTVAL FROM DUAL
    </select>
    <select id="getPostInfo" resultType="PostDTO">
         SELECT * FROM TBL_POST WHERE POST_NO = #{post_no}
    </select>
    <delete id="deletePost" >
         DELETE FROM TBL_POST WHERE POST_NO = #{post_no}
    </delete>
    <update id="updatePost" parameterType="PostDTO">
         UPDATE TBL_POST SET CATEGORY_NO = #{category_no},TITLE = #{title},CONTENT = #{content}, PRODUCT_NO = #{product_no} WHERE POST_NO= #{post_no}
    </update>
</mapper>