<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="orderMapper">

    <!-- 주문 페이지로 ProductDTO + 수량 넘기기 -->
    <!-- tbl_product에서 가져오지만, 주문페이지로 넘어가는 부분이어서 order에 넣음 -->
    <select id="tempOrderInfo" resultType="TempOrderDTO">
         SELECT * FROM TBL_PRODUCT WHERE PRODUCT_NO = #{product_no}
    </select>
    
    <!-- (마이페이지) 당일 주문량 조회 -->
	<select id="countOrder" parameterType="map" resultType="int">
		select count(*) from tbl_order where order_time like #{today}
		
		<if test="tracking_no == 'point'">
			and order_no like 'POINT%'
		</if>
		<if test="tracking_no != 'point'">
			and order_no not like 'POINT%'
		</if>
	</select>
    
    <!-- (마이페이지) 환불 처리 -->
    <update id="refund">
    	update tbl_order set status = 'canceled' where order_no = #{merchant_uid}
    </update>
    
    <!-- (마이페이지) 주문정보 저장 -->
    <insert id="insertOrder" parameterType="orderDTO">
    	insert into tbl_order
    		values(#{order_no}, sysdate, #{cost}, #{name}, #{address}, #{message}, 'ready', 'none', #{user_id}, #{phone}, #{email})
    </insert>
    
    <!-- (마이페이지) 마지막 주문번호 불러오기 -->
    <select id="getLastOrder_no" parameterType="map" resultType="string">
    	select order_no from (select row_number() over (order by order_no desc) r, o.* from tbl_order o where order_no like
    		<choose>
    			<!-- 포인트 충전인 경우 -->
    			<when test="tracking_no == 'point'">
    				'POINT%'
    			</when>
    			<!-- 상품 주문인 경우 -->
    			<otherwise>
    				'ORD%'
    			</otherwise>
    		</choose>
    		<if test="user_id != null">
    			and user_id like #{user_id}
    		</if>
    		<if test="order_time != null">
    			and order_time like #{order_time}
    		</if>
    	) where r=1
    </select>
    
    <!-- (마이페이지) 마지막 주문 건 삭제 -->
    <select id="deleteLastOrder">
    	delete from tbl_order where order_no = #{merchant_uid}
    </select>
    
    <!-- (마이페이지) 주문상품 저장 -->
    <insert id="insertOrderProduct" parameterType="map">
    	insert into tbl_orderproduct values(#{order_no}, #{product_no}, #{quantity})
    </insert>
    
    <!-- (마이페이지) 주문상품 불러오기 -->
    <select id="getOrderProduct" resultType="OrderProduct">
    	select * from tbl_orderproduct where order_no = #{order_no}
    </select>
    
    <!--////////////// 마이페이지 주문 결제 조회 영역 //////////////-->
    
    <!-- 이용자 별 주문정보 가져오기 -->
    <select id="getOrderList" parameterType="map" resultType="map">
    	SELECT *
		FROM (SELECT 
			        ROW_NUMBER() OVER (ORDER BY order_time DESC) AS idx, 
			        o.order_no, o.order_time, to_char(o.cost, '999,999,999') "COST", o.status,
			        op.quantity,
			        p.name, p.price, p.image_path
		      FROM tbl_order o
			        INNER JOIN tbl_payment pay ON(o.order_no = pay.payment_no)
			        INNER JOIN tbl_orderproduct op ON(o.order_no = op.order_no)
			        INNER JOIN tbl_product p ON(op.product_no = p.product_no)
		      WHERE user_id = #{user_id}
      		  <if test="searchKeyword != null">
				  AND ${searchOption} LIKE '%'||#{searchKeyword}||'%'
			  </if>
		      )
		WHERE idx BETWEEN ${startRange} AND ${endRange}
    </select>
    
    <!-- 주문정보 COUNT -->
    <select id="getOrderCount" parameterType="map" resultType="int">
   		SELECT COUNT(*)
		FROM (SELECT *
		      FROM tbl_order o
			        INNER JOIN tbl_payment pay ON(o.order_no = pay.payment_no)
			        INNER JOIN tbl_orderproduct op ON(o.order_no = op.order_no)
			        INNER JOIN tbl_product p ON(op.product_no = p.product_no)
		      WHERE user_id = #{user_id}
      		  <if test="searchKeyword != null">
				  AND ${searchOption} LIKE '%'||#{searchKeyword}||'%'
			  </if>
		      )
    </select>
    
    <!-- (마이페이지) 결제완료 확인 -->
    <select id="checkPayment" resultType="int">
    	SELECT COUNT(*) FROM TBL_PAYMENT WHERE PAYMENT_NO = #{merchant_uid}
    </select>
    
    <!-- (마이페이지) 모든 주문정보 불러오기 -->
    <select id="getAllOrder" resultType="string">
    	SELECT ORDER_NO FROM TBL_ORDER WHERE USER_ID = #{user_id}
    </select>
    
    <!-- (마이페이지) 주문상품 삭제 -->
    <delete id="deleteOrderproduct">
    	delete from tbl_orderproduct where order_no = #{merchant_uid}
    </delete>
</mapper>