<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="paymentMapper">
	<!-- (마이페이지) 결제 내역 저장 -->
	<insert id="completePaid" parameterType="paymentDTO">
		insert into tbl_payment values (#{payment_no}, #{cost}, sysdate, #{method}, #{card_name})
	</insert>
</mapper>