<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="productMapper">
    <select id="searchProduct" resultType="ProductDTO">
         SELECT * FROM TBL_PRODUCT WHERE NAME LIKE '%'|| #{VALUE} ||'%'
    </select>
    <select id="getProduct" resultType="ProductDTO">
         SELECT * FROM TBL_PRODUCT WHERE PRODUCT_NO = #{product_no}
    </select>
</mapper>