<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="productMapper">
    <!-- 온라인 클래스 등록 시 강의 연결 상품 검색 -->
    <select id="searchProduct" resultType="ProductDTO">
         SELECT * FROM TBL_PRODUCT WHERE NAME LIKE '%'|| #{VALUE} ||'%'
    </select>
    
    <!-- product_no로 ProductDTO 정보 얻기 -->
    <select id="getProduct" resultType="ProductDTO">
         SELECT * FROM TBL_PRODUCT WHERE PRODUCT_NO = #{product_no} 
    </select>
    
    <!-- 상품 등록 메서드 -->
    <insert id="insertProduct" parameterType="ProductDTO">
         INSERT INTO TBL_PRODUCT VALUES (PRODUCT_NO.NEXTVAL,#{name},#{price},#{stock},#{content},#{image_path})
    </insert>
    
    <delete id="deleteProduct">
         DELETE FROM TBL_PRODUCT WHERE PRODUCT_NO = #{product_no}
    </delete>
    
    <update id="modifyProduct" parameterType="ProductDTO">
         UPDATE TBL_PRODUCT SET NAME=#{name}, PRICE=#{price}, STOCK=#{stock}, CONTENT=#{content}, IMAGE_PATH=#{image_path} 
         WHERE PRODUCT_NO = #{product_no}
    </update>
    
    <update id="modifyProductWithoutThumbnail" parameterType="ProductDTO">
         UPDATE TBL_PRODUCT SET NAME=#{name}, PRICE=#{price}, STOCK=#{stock}, CONTENT=#{content}  
         WHERE PRODUCT_NO = #{product_no}
    </update>
    
    <!-- (마이페이지) 주문 후 재고수량 수정 -->
    <update id="modifyStock" parameterType="map">
    	update tbl_product set stock = #{stock} where product_no = #{product_no}
    </update>
</mapper>