<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
	<configuration>
		<typeAliases>
			<typeAlias type="egg.finalproject.cart.CartDTO" alias="cartDTO"/>
			<typeAlias type="egg.finalproject.category.CategoryDTO" alias="categoryDTO"/>
			<typeAlias type="egg.finalproject.comment.CommentDTO" alias="commentDTO"/>
			<typeAlias type="egg.finalproject.expert.ExpertDTO" alias="expertDTO"/>
			<typeAlias type="egg.finalproject.file.FileDTO" alias="fileDTO"/>
			<typeAlias type="egg.finalproject.image.ImageDTO" alias="imageDTO"/>
			<typeAlias type="egg.finalproject.like.LikeDTO" alias="likeDTO"/>
			<typeAlias type="egg.finalproject.message.MessageDTO" alias="messageDTO"/>
			<typeAlias type="egg.finalproject.notice.NoticeDTO" alias="noticeDTO"/>
			<typeAlias type="egg.finalproject.offer.OfferDTO" alias="offerDTO"/>
			<typeAlias type="egg.finalproject.order.OrderDTO" alias="orderDTO"/>
			<typeAlias type="egg.finalproject.payment.PaymentDTO" alias="paymentDTO"/>
			<typeAlias type="egg.finalproject.post.PostDTO" alias="postDTO"/>
			<typeAlias type="egg.finalproject.member.MemberDTO" alias="memberDTO"/>
			<typeAlias type="egg.finalproject.product.ProductDTO" alias="productDTO"/>
			<typeAlias type="egg.finalproject.career.CareerDTO" alias="careerDTO"/>
			<typeAlias type="egg.finalproject.expert_category.Expert_categoryDTO" alias="expert_categoryDTO"/>
		</typeAliases>
	</configuration>